.header {
  padding-top: 1px;
  margin-bottom: 70px;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;

  @media (max-width: 475px) {
    margin-bottom: 55px;
  }

  &--fixed {
    padding: 2px 0px;
    background-color: rgba($black, .9);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 500;

    .header__container {
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly;

      @media (max-width: 768px) {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
      }
    }
  }

  &-login {
    &__container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      position: relative;
    }

    &__logo {
      width: 72px;
      height: 72px;
    }

    &__btn {
      position: absolute;
      right: 0;
    }
  }
  &-profile {
    &__container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
    }
    
  }

  &__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
  }

  &__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    @media (max-width: 1060px) {
      margin-right: 10px;
    }

    @media (max-width: 810px) {
      margin-right: 0;
    }
  }

  &__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    @media (max-width: 1060px) {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      width: 15%;
    }

    @media (max-width: 950px) {
      width: 200px;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  &__logo {
    margin-right: 30px;

    @media (max-width: 1100px) {
      margin-right: 20px;
    }

    @media (max-width: 475px) {
      width: 42px;
      height: 42px;
    }
  }

  &__social {
    @media (max-width: 1060px) {
      margin-bottom: 5px;
      width: 100%;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }

    li {
      margin-right: 5px;

      &:last-child {
        margin-right: 0;
      }
    }

    &--mobile {
      margin-right: 0;

      li {
        margin-right: 7px;

        &:first-child {
          margin-right: 15px;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &__language {

    &--mobile {
      -ms-flex-item-align: start;
          align-self: flex-start;
    }
  }
}