.plans {
  margin-bottom: 70px;

  @media (max-width: 768px) {
    margin-bottom: 50px;
  }

  &__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  &__title {
    padding-top: 90px;
    margin-bottom: 50px;
    text-align: center;

    @media (max-width: 1024px) {
      margin-bottom: 20px;
    }

    @media (max-width: 768px) {
      padding-top: 80px;
      margin-bottom: 50px;
    }

    @media (max-width: 475px) {
      padding-top: 50px;
      margin-bottom: 40px;
    }
  }

  &__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

    @media (max-width: 1024px) {
      overflow-x: scroll;
      overflow-y: visible;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
    }

    @media (max-width: 768px) {
      overflow: visible;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
  }

  &__item {
    max-width: 330px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5px 25px 25px;
    border-radius: 10px;
    background: $bg-lightBlack;
    position: relative;

    @media (max-width: 1100px) {
      max-width: 310px;
      padding: 5px 15px 25px;
    }

    @media (max-width: 1024px) {
      width: 400px;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      margin-right: 80px;
      margin-top: 30px;

      &:last-child {
        margin-right: 0;
      }
    }

    @media (max-width: 768px) {
      padding: 5px 25px 25px;
      margin-bottom: 60px;
      margin-top: 0;
      margin-right: 0;
      max-width: 330px;
      width: 100%;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .star {
      position: absolute;
      top: -30px;
      right: -30px;
      width: 92px;
      height: 92px;

      @media (max-width: 475px) {
        right: -10px;
      }
    }

    &-top {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-bottom: 15px;

      h3 {
        font-weight: bold;
        font-size: 25px;
        line-height: 100%;
        color: $accent;
        margin-bottom: 10px;
      }

      p {
        font-weight: normal;
        font-size: 20px;
        line-height: 140%;
      }
    }

    &-desc {
      &--sm {
        max-width: 200px;
      }
    }

    &-img {
      -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
      margin-bottom: 20px;
      height: 200px;

      &--basic {
        width: 200px;
      }

      &--gold {
        width: 180px;
      }

      &--premium {
        width: 165px;
      }

    }

    &-middle {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      padding-top: 15px;
      border-top: 1px solid #ebebeb;

      ul {
        margin-bottom: 12px;
        font-weight: bold;
        font-size: 20px;
        line-height: 140%;
        color: #ECEDF4;
      }

      li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #ECEDF4;
        margin-bottom: 16px;

        img {
          margin-right: 8px;
        }

        &:last-child {
          margin-bottom: 20px;
        }
      }
    }

    &-bottom {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -ms-flex-item-align: end;
          align-self: flex-end;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      padding-top: 15px;
      border-top: 1px solid #ebebeb;
      width: 100%;

      span {
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 35px;
        line-height: 140%;
        color: $accent;
      }

    }

    &-btn {
      width: 100%;
      padding: 17px 65px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;

      @media (max-width: 1100px) {
        padding: 17px 56px;
      }
    }
  }

}

.disabled {
  -webkit-filter: brightness(60%);
  filter: brightness(60%);
}

@-webkit-keyframes scrollW {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  25% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }

  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  75% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes scrollW {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  25% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }

  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  75% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}